*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.box{
    width: 200px;
    height: 200px;
    background: dodgerblue;

    position: relative;
}
.box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 50px;
    background: red;
}
.box::after{
    content: "hello";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 50px;
    height: 70px;
    background: violet;

    color: #fff;
    text-align: center;
}
.photo{
    width: 300px;
    height: 300px;
    margin: 30px auto;
    position: relative;
    overflow: hidden;
}
.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.photo::before{
    content: "";
    position: absolute;
    top: 0%;
    left: -50%;

    width: 100%;
    height: 100%;
    background: #0000ff76;
    transition: .5s;
}
.photo:hover::before{
    left: 0;
}
.photo::after{
    content: "";
    position: absolute;
    top: 0%;
    right: -50%;

    width: 50%;
    height: 100%;
    background: #0000ff76;
    transition: .5s;
}
 .photo:hover::after{
    right: 0;
 }
 .banner{
    width: 100%;
    height: 700px;
    position: relative;
 }
.banner video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}
.banner h1{
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50 -50%);
    font-size: 8vw;
    color: #fff;
}




